.App{
  background-color: whitesmoke;
}
.task-container{
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.description{
padding: 15px;
border-radius: 20px;
width: 330px;
border: none;
padding-left: 30px;
margin: 10px;
}
.task{
  height: 200px;
  width: 400px;
  background-color: rgba(0, 0, 255, 0.242);
  padding: 20px;
  border-radius: 10px;
  color: white;
  position: static;
}
.date{
  padding: 10px;
  border-radius: 20px;
  width: 200px;
  border: none;
  padding-left: 30px;
  margin: 10px;
}.time{
  padding: 10px;
  border-radius: 20px;
  width: 200px;
  border: none;
  padding-left: 30px;
  margin: 10px;
}
.date-time{
  display: flex;
  justify-content: space-between;
}
.name-dropdown{
  padding: 10px;
}
.select-name{
  padding: 10px;
  width: 150px;
  border: none;
  border-radius: 20px;
}
.data-field{
  
  height: auto;
  width: 400px;
  background-color: rgba(0, 0, 255, 0.242);
  padding: 20px;
  border-radius: 10px;
  color: white;
}
.tasks{
  background-color: whitesmoke;
  color: black;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
}
.times{
  display: flex;
  justify-content: space-between;
}
.tasks:hover{
  transition:.3s ease-in-out;

  height: auto;
  
}
.button{
  background-color: rgba(172, 255, 47, 0.892);
  color: black;
  border: transparent;
  padding: 10px;
  width: 100px;
  border-radius: 10px;
  margin-left: 20px;
}
.description-display{
  display: flex;
  justify-content: space-between;
}
.button:hover{
  background-color: black;
  color: white;
  transition: .4s ease-in-out;
  cursor: pointer;
}
.icon-display{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heading{
  text-align: center;
}
.main-heading{
  text-align: center;
  background-color:rgba(0, 0, 255, 0.242) ;
  margin: 0;
  padding: 20px;
  color: white;
}


@media only screen and (max-width: 600px) {
  .task{
    height: 200px;
    width: 300px;
    background-color: rgba(0, 0, 255, 0.242);
    padding: 20px;
    border-radius: 10px;
    color: white;
    position: static;
  }
  .description{
    padding: 15px;
    border-radius: 20px;
    width: 230px;
    border: none;
    padding-left: 30px;
    margin: 10px;
    }
  .data-field{
  
    height: auto;
    width: 300px;
    background-color: rgba(0, 0, 255, 0.242);
    padding: 20px;
    border-radius: 10px;
    color: white;
  }
}